extends layout 
block layout-content
 if alt
  div.alert.alert-danger.alert-dismissable.mx-3 Congraghouldtion Story Deleted Sucessfuly
   a.btn.close(data-dismiss="alert" aria-hidden="true" href="#") &times; 
 else 
  div 
 div.form-group.mb-4
  form.post.form-group(method="post" action="/postStory")
   h1.text-info.text-center The Post Story
   label(for="title") Title
   input(type="text" name="title" required).form-control#title
   label(for="story") The Story
   textarea(name="story" rows="8" cols="50" required).form-control#story
   input#storyPostBtn.mt-2.btn.btn-primary.btn-md(type="submit" value="POST STORY")
 br 
 hr 
 h1.text-info.text-center The Story Page
 hr
 each story in stories
  div.row.justify-content-center
    div.col.mx-2.mb-5
     div.card.text-dark.border-dark.bg-light
      if story.owner.username == sesUn
       h5.card-header.text-light.bg-primary #{story.title}
      else
       h5.card-header.text-light.bg-dark #{story.title}
      
      div.card-body.text-dark.border-primary
       blockquote.blockquote
        p.white #{story.story}
        footer.blockquote-footer
         if story.owner.username == sesUn
          cite You
         else
          cite.text-right #{story.owner.name}
      if story.owner.username == sesUn
        div.card-footer.d-flex.justify-content-around
         form(method="get" action="/"+story.id)
          input.btn.px-5.btn-primary(type="submit" value="Edit")
         form(method="post" action="/delete/"+story.id)
          input.btn.btn-danger.px-5(type="submit" value="Delete")
          //a.btn.btn-danger(href=story.id) Delete
   
